@import '../styles/colors';

* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  height: 100%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h1,
h5 {
  color: $color-black;
}

.firstConverter {
  width: 300px;
  height: 300px;
  padding: 10px 20px;
  border: 2px solid $color-second;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;

  h1 {
    margin: 15px 0;
  }

  .converter-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 500;

    .converter-country {
      margin: 3px 0;
    }

    .converter-seletor {
      margin: 3px 0;

      .converter-seletor-option {
        margin: auto 5px;
      }
    }

    .converter-exchange-rate {
      margin: 3px 0;
    }

    .converter-sending-wrapper {
      margin: 3px 0;

      .converter-sending {
        width: 50%;
        margin: auto 5px;
        border: 1px solid lightgray;
      }

      .submit-button {
        border: solid 1px $color-second;
        border-radius: 2px;
        margin: 10px 5px;
        padding: 15px 30px;
        line-height: 2px;
        background: linear-gradient($color-second, $color-white);
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  .converter-total {
    margin-top: 20px;
    position: absolute;
  }
}
