
@mixin flexbox($fd: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

section {
  @include flexbox(row, center, flex-start);
  background: $color-main;
}
